<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.m2e.core.projectConfigurators">
      <configurator
            class="com.github.lsiu.m2e.connector.websphere.maven.plugin.WebsphereProjectConfigurator"
            id="com.github.lsiu.m2e.connector.websphere.maven.plugin.websphereProjectConfigurator"
            name="Websphere Project Configurator">
      </configurator>
   </extension>
   <extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
   </extension>

</plugin>
